<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Steve's Awesome Vue.js Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="vue.js"></script>
  </head>
  <body>
    <form id="main" v-cloak>
    <div class="bar">
      <!-- Create a binding between the searchString model and the text field -->
      <input type="text" v-model="searchString" placeholder="Enter your search terms" />
    </div>
    <ul>
      <!-- Render a li element for every entry in the computed filteredArticles array. -->
      <li v-for="article in filteredArticles">
          <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
          <p>{{article.title}}</p>
      </li>
    </ul>
    </form>
  <script src="steveVue.js"></script>
  </body>
</html>